html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%; 
}

#heading1{
  margin: 0;
  color: rgb(20, 20, 58);
  padding-left: 10px;
  font-size: 50px;
  position: relative;
}

/* css for nav bar */
#navBar{
  border: 1px solid black;
  background: linear-gradient(rgb(82, 137, 127), rgb(82, 217, 222), rgb(16, 117, 117));
  Padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navBar h1 {
  margin: 0; 
  font-size: 50px;
  color: rgb(21, 23, 21);
}

/* css for nav buttons*/
#addbtn, #logBtn {
  background-color: rgb(240, 240, 244); 
  color: #0a0909; 
  font-weight: bold;
  font-size: medium;
  border: 1px solid #090200; 
  border-radius: 5px; 
  padding: 8px 16px; 
  cursor: pointer; 
  margin-left: 20px;
}

#addbtn:hover, #logBtn:hover {
  background-color: rgb(227, 227, 228);
  color: #0a0909; 
}

#cancelbtn {
  background-color: rgb(225, 37, 68); 
  color: #fcfbfb; 
  font-weight: bold;
  font-size: medium;
  border: 1px solid #090200; 
  border-radius: 5px; 
  padding: 8px 16px; 
  cursor: pointer; 
  margin-left: 20px;
}

#cancelbtn:hover {
  background-color: darkred;
  color: white;
}

/* css for add student form */
#studentForm{
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin: 20px auto;
}

label {
  margin: 5px 0;
  font-weight: bold;
}

input, select {          
  padding: 10px;                
  margin-bottom: 15px;         
  border: 1px solid #ccc;      
  border-radius: 5px;
  width: 100%;
}

input {
  width: calc(100% - 20px);
}

#submitBtn{
  font-weight: bold;
  border: 1px solid #090200; 
  background-color: white;
  border-radius: 5px;
  font-size: large;
  margin-bottom: 10px;
  margin-left: 40%;
  cursor: pointer;
  padding: 5px 5px;
}

#submitBtn:hover {
  background-color: #1a5d36; 
  color: white; 
}

/* css for dashboard */
#dashboard{
  margin: 2.5% 10%;
  width: 85%;
  margin-left: 7%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #cac0c0;
  color: rgb(5, 5, 5);
}

#editBtn, #delBtn{
  margin-right: 10px;
  border: none;
  color: #070707; 
  font-weight: bold;
  cursor: pointer; 
}

#editBtn:hover {
  background-color: #35ca3f; 
  color: white; 
  border: none;
}

#delBtn:hover{
  background-color: #ec2812; 
  color: white; 
  border: none;
}

/* css for auth forms */
#loginForm, #signup{
  margin-top: 20px;
  width: 30%;
  border: 1px solid #0b0b0b;
  padding: 10px 10px;
  margin-left: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#loginBtn, #signupBtn, #forgotBtn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  margin-bottom: 10px;
}

#loginBtn:hover {
  background-color: #45a049;
}

#forgotPasswordLink{
  margin-top: 10px;
  margin-left: 5px;
}

#loginPara{
  margin-left: 15px;
}

#forgotPasswordForm{
  width: 30%;
  border: 1px solid rgb(204, 189, 189);
  padding: 10px 10px;
  margin-left: 10px;
  border-radius: 20px; 
}

#forgotPasswordPara{
  margin-left: 15px;
}

/* css for grade analysis */
#gradeCategories{
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.category{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

/* css for footer */
#footer {
  background-color: #333; 
  color: white; 
  text-align: center;
  padding: 10px 0; 
  position: fixed; 
  width: 100%; 
  bottom: 0; 
}